@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  /* background: #35383e; */
  background: rgb(88, 93, 103);
  background: linear-gradient(
    0deg,
    rgba(73,77,85, 0.9) 0%,
    rgba(53, 56, 62, 0.8) 100%
  );
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
}

.space {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.space h1 {
  text-align: center;
}
.space h3 {
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #fce4b2;
}

.space h4 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #fce4b2;
}

.portrait-container {
  text-align: center;
  position: relative;
}

.another-container {
  width: 150px;
  display: inline;
  position: absolute;
}

.avatar {
  align-items: center;
  color: #35383e;
  display: flex;
  font-size: 40pt !important;
  justify-content: center;
  display: inline;
  position: absolute;
  top: -75px;
  left: -80px;
  z-index: 4;
  border-radius: 50%;
  max-width: 100%;
  width: 150px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.grid {
  display: flex;
  grid-template-columns: auto;
  grid-template-rows: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-content: space-evenly;
  align-items: stretch;
  justify-content: space-evenly;
}

.grid-item {
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.book {
  width: 400px;
  padding: 20px;
}
.books-content {
  text-align: center;
}

.book-img {
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-description {
  max-width: 400px;
}

.support-icon {
  width: 40px;
}

.support-me-container {
  text-align: center;
  margin: 20px;
}
/* Content Parallax Section*/
.content {
  /* background: none repeat scroll 0 0 #35383e; */
  background: rgb(88, 93, 103);
  background: linear-gradient(
    0deg,
    rgba(73,77,85, 0.9) 0%,
    rgba(53, 56, 62, 0.8) 100%
  );
  padding: 42px 0;
  color: #fff;
}
.content h3 {
  color: #fff;
  text-align: center;
}

/* Video Parallax Section*/
.youtube {
  margin: 20px 20px 0px 20px;
}

.title {
  width: 360px;
}

.background-video {
  height: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.background-video video {
  height: 1080px;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
}
.background-video h3 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* General Section*/
.container {
  margin: 0 auto;
  padding: 0 12px;
}
.headlines h2 {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin: 0;
  text-align: center;
}
.headlines p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #f6f3f3;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
