
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}


/* ----------------------------------------------------
	SKELETON
------------------------------------------------------- */
body {
	background:#35383E;;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
	margin:0;
	padding:0;
}


*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}


/* ----------------------------------------------------
	WRAPPER
------------------------------------------------------- */

.wrapper{
	margin:0 auto;	

}

section{ float:left; width:100%;}

@media only screen and (min-width:240px) and (max-width: 768px){
	section{
		padding:0 15px;	
	}
}

/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}
	

}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;		
	}
	
	.ScriptHeader h1,
	.ScriptHeader h2, 
	.scriptnav ul{
		text-align:center;	
	}
	.scriptnav ul{
		 margin-top:12px;		
	}
	#float-right{
		float:none;	
	}
	
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.space {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.space h1 {
  text-align: center;
}
.space h3 {
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #fce4b2;
}

.space h4 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #fce4b2;
}

.portrait-container{
  text-align: center;
  position: relative;
}

.another-container{
  width: 150px;
  display: inline;
  position: absolute;
  
}

.avatar {  
  align-items: center;
  color: #35383E;
  display: flex;
  font-size: 40pt !important;
  justify-content: center;
  display: inline;
  position: absolute;
  top:-75px;
  left:-80px;
  z-index: 4;
  border-radius: 50%;
  max-width: 100%;
  width: 150px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.grid{
  display: flex;
  grid-template-columns: auto;
  grid-template-rows: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-content: space-evenly;
  align-items: stretch;
  justify-content: space-evenly;

}

.grid-item {
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.book{
  width: 400px;
  padding: 20px;
}
.books-content{
  text-align:center;
}

.book-img{
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-description{
  max-width: 400px;;
}

.support-icon{
  width: 40px;
}

.support-me-container{
  text-align: center;
  margin: 20px;
}
/* Content Parallax Section*/
.content {
  background: none repeat scroll 0 0 #35383E;
  padding: 42px 0;
  color: #fff;
}
.content h3 {
  color: #fff;
  text-align: center;
}

/* Video Parallax Section*/
.youtube{
  margin: 20px 20px 0px 20px;
}

.title{
  width: 360px;
}

.video {
  height: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.video video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
}
.video h3 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* General Section*/
.container {
  margin: 0 auto;
  padding: 0 12px;
}
.headlines h2 {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin: 0;
  text-align: center;
}
.headlines p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #f6f3f3;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
